<FORM NAME="login" METHOD="POST" ACTION="/login.cfm">
    <TABLE BORDER=1 CELLPADDING=10 WIDTH=100%>
        <TR>
            <TD COLSPAN=2 ALIGN=CENTER><STRONG>LOG IN</STRONG></TD>
        </TR>
        <TR>
            <TD>Username:</TD>
            <TD><INPUT TYPE=TEXT NAME="username"></INPUT></TD>
        </TR>
        <TR>
            <TD>Password:</TD>
            <TD><INPUT TYPE=PASSWORD NAME="password"></INPUT></TD>
        </TR>
        <TR>
            <TD COLSPAN=2 ALIGN=RIGHT>
                <INPUT TYPE=RESET NAME="reset" VALUE="Reset">
                <INPUT TYPE=SUBMIT NAME="submit" VALUE="Submit">
            </TD>
        </TR>
    </TABLE>
</FORM>