<FORM NAME="register" METHOD="POST" ACTION="/register.cfm">
    <TABLE BORDER=1 CELLPADDING=10 WIDTH=100%>
        <TR>
            <TD COLSPAN=2 ALIGN=CENTER><STRONG>REGISTER</STRONG></TD>
        </TR>
        <TR>
            <TD>Your Name:</TD>
            <TD><INPUT TYPE=TEXT NAME="realname"></INPUT></TD>
        </TR>
        <TR>
            <TD>E-Mail Address:</TD>
            <TD><INPUT TYPE=TEXT NAME="email"></TD>
        <TR>
            <TD>Desired Username:</TD>
            <TD><INPUT TYPE=TEXT NAME="username"></TD>
        </TR>
        <TR>
            <TD>Password:</TD>
            <TD><INPUT TYPE=PASSWORD NAME="password"></TD>
        </TR>
        <TR>
            <TD>Re-Enter Password:</TD>
            <TD><INPUT TYPE=PASSWORD NAME="passwordconfirm"></TD>
        </TR>
        <TR>
            <TD>What Color Is This Field?</TD>
            <TD BGCOLOR="green">
                <SELECT NAME=VOODOO>
                    <OPTION VALUE="orange">Orange</OPTION>
                    <OPTION VALUE="blue">Blue</OPTION>
                    <OPTION VALUE="green">Green</OPTION>
                    <OPTION VALUE="mauve">Mauve</OPTION>
                    <OPTION VALUE="chartreuse">Chartreuse</OPTION>
                </SELECT>
            </TD>
        </TR>
        <TR>
            <TD>Privacy:</TD>
            <TD><INPUT TYPE=CHECKBOX NAME=privacy CHECKED> List me in the member directory</TD>
        </TR>
        <TR>
            <TD COLSPAN=2 ALIGN=RIGHT>
                <INPUT TYPE=RESET NAME="reset" VALUE="Reset">
                <INPUT TYPE=SUBMIT NAME="submit" VALUE="Submit">
            </TD>
        </TR>
    </TABLE>
</FORM>